<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<!-- 此文件是直接打开展示的 -->
<dict>
 <key>items</key>
 <array>
  <dict>
   <!-- KEY 测试后建议缩短 ，目前都使用https-->
   <key>assets</key>
   <array>
    <dict>
      <!-- KEY 测试后建议缩短 ，目前都使用https-->
     <key>kind</key>
     <string>software-package</string>
     <key>url</key>
     <!-- http或者https链接的ipa文件地址 -->
     <string><![CDATA[https://down.wss.show/203fxqb/c/4a/c4ab203fxqb?cdn_sign=1693996695-7-0-1d9b3d1f5e149c73720ae76611a58d7b&exp=1200&response-content-disposition=attachment%3B%20filename%3D%22AI%20Smith_5.9%40co.vulcanlabs.moodtracker.ipa%22%3B%20filename%2A%3Dutf-8%27%27AI%2520Smith_5.9%2540co.vulcanlabs.moodtracker.ipa]]></string>
    </dict>
    
   </array>
   <key>metadata</key>
   <dict>
    <key>bundle-identifier</key>
    <!-- BundleID，就是新建app时的包名 -->
    <string>co.vulcanlabs.moodtracker</string>
    <key>bundle-version</key>
    <!-- 版本号-必变 -->
    <string>5.9</string>
    <key>kind</key>
    <string>software</string>
    <key>title</key>
    <!-- 安装app时的提示信息\拼写简单 -->
    <string>YouXiu App install…</string>
   </dict>
  </dict>
 </array>
</dict>
</plist>
