<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<!-- 此文件是直接打开展示的 -->
<dict>
 <key>items</key>
 <array>
  <dict>
   <!-- KEY 测试后建议缩短 ，目前都使用https-->
   <key>assets</key>
   <array>
    <dict>
      <!-- KEY 测试后建议缩短 ，目前都使用https-->
     <key>kind</key>
     <string>software-package</string>
     <key>url</key>
     <!-- http或者https链接的ipa文件地址 -->
     <string><![CDATA[https://cvws.icloud-content.com/B/AfbfpIZ217GM9K-HtfgJDb87OxyWAep8xF7HI-hn0kg95yQkCjapD4Fs/AI+Smith%40co.vulcanlabs.moodtracker.ipa?o=ApdeHNEqCNf7a94tT7qJmJIFJedIqGDUe4NSdy-GluOI&v=1&x=3&a=CAogE9pHLP6kNLlbAw3G_yT3OKZfFiOSyXIcQ-9MLKqPiRcSbxCxman7pjEYsfaE_aYxIgEAUgQ7OxyWWgSpD4FsaidNV9ADrwlQ6_aMS1NrdQhnk6SAPiQFFmIBt0aPAAXr2MufrwIHf-hyJ_3IqcPpaiywCqLfZVPHQldyaYAihp1fiVmzuApvVCfVbyc2MQIRsg&e=1694089952&fl=&r=e90fbecd-7ef5-43c8-8ff0-4e6a6fbb260f-1&k=59026feiYi4kQdquPO-VFQ&ckc=com.apple.clouddocs&ckz=com.apple.CloudDocs&p=57&s=PyJxQ_jnqtFvRDcVgYEEJtrNZFk]]></string>
    </dict>
    <dict>
     <key>kind</key>
     <string>full-size-image</string>
     <key>needs-shine</key>
     <true/>
     <key>url</key>
     <!-- http或者https链接的图片地址，可直接使用app对应的icon（分辨率没强制要求） -->
     <string>https://cdn.huiyan-ai.top/attachments/1109477115285475519/1149307434758852699/icon.png</string>
    </dict>
    <dict>
     <key>kind</key>
     <string>display-image</string>
     <key>needs-shine</key>
     <true/>
     <key>url</key>
     <!-- http或者https链接的小图片地址，可直接使用app对应的icon（分辨率没强制要求） -->
     <string>https://cdn.huiyan-ai.top/attachments/1109477115285475519/1149307434758852699/icon.png</string>
    </dict>
   </array>
   <key>metadata</key>
   <dict>
    <key>bundle-identifier</key>
    <!-- BundleID，就是新建app时的包名 -->
    <string>co.vulcanlabs.moodtracker</string>
    <key>bundle-version</key>
    <!-- 版本号-必变 -->
    <string>6.0</string>
    <key>kind</key>
    <string>software</string>
    <key>title</key>
    <!-- 安装app时的提示信息\拼写简单 -->
    <string>AI Smith</string>
   </dict>
  </dict>
 </array>
</dict>
</plist>
